<!DOCTYPE html>

<html>
<head>
	<title>Address Share</title>
</head>
<body>
	<!-- if session is not blank LogOUT button -->
	<!-- <a href="">LogOUT</a> -->
	<!-- if session is blank "" LogIN button -->
	<a href="{% url 'logins:index' %}">Register</a>
	<a href="{% url 'address:index' %}">Address</a>

	<div id="login">
		<h2>Login</h2>
		<form action="{% url 'logins:login' %}" method="post">
			{% csrf_token %}
			<label>Email: <input name="login_email" type="text" value="{{request.session.loginEmail}}"></label>
			<label>Password: <input name="login_password" type="password"></label>
			<input id="login_submit" type="submit" value="Login">
		</form>

		{% for message in messages %}
			{% if message.extra_tags == "loginError" %}
			 <h4 class= "validation_message">{{message.message}}</h4>
			{% endif %}
		{% endfor %}
		
	</div>

	<h1>Main page site Info Junk</h1>

</body>
</html>